/* 기본 스타일 */

body {
  background-color: #5b2c90;
  color: white;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  text-align: center;
  padding: 40px 20px;
}

/* 제목, 부제목 */
h1 img{
  max-width: 30%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.sr-only{
     position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.title {
  font-size: 2.5rem;
  background-color: yellow;
  color: #5b2c90;
  display: inline-block;
  padding: 10px 20px;
  transform: rotate(-2deg);
  margin-bottom: 10px;
  font-weight: bold;
}

.subtitle {
  margin-bottom: 40px;
  font-style: italic;
}

/* 인트로 문단 */
.intro {
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.quote-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.quote-bg {
  width: 100%;
  max-width: 420px;
  opacity: 0.3;
}

.quote-text {
  position: absolute;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  color: white;
  padding: 0 20px;
  max-width: 80%;
}



/* 푸터 */
footer {
  margin-top: 40px;
  font-size: 0.8rem;
  opacity: 0.8;
}
